* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

body {
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: hsl(183, 100%, 15%);
    font-size: 1rem;
    width: 0px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 80%;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 670px) {
    .container {
        flex-direction: column;
    }
}

/* -------------- Lado Esquerdo ----------- */

.bill {
    display: grid;
    grid-template-areas: 
    "bill bill bill"
    "valor valor valor"
    "tip tip tip"
    "b5 b10 b15"
    "b25 b50 custom"
    "people people people"
    "div div div";
    padding: 20px;
    color: hsl(186, 14%, 43%);
}

.billB {
    grid-area: bill;
}

.valorB {
    grid-area: valor;
}

.titleT {
    grid-area: tip;
}

.b5 {
    grid-area: b5;
}

.b10 {
    grid-area: b10;
}

.b15 {
    grid-area: b15;
}

.b25 {
    grid-area: b25;
}

.b50 {
    grid-area: b50;
}

.custom {
    grid-area: custom;
}

.titleP {
    grid-area: people;
}

.pessoas {
    grid-area: div;
}
/* ------------------------ */

.titleE {
    font-size: .7rem;
    margin-top: 20px;
}

/* Not Arrow input number */

.valor::-webkit-outer-spin-button,
.valor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.valor {
    border: none;
    background-color: hsl(189, 41%, 97%);
    padding: 5px;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 1rem;
    border-radius: 4px;
    outline-color: hsl(172, 67%, 45%);
}


.buttom {
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 4px;
    padding: 2px 20px;
    margin: 5px;
    cursor: pointer;
}

.hover:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

.custom {
    width: 70px;
}

/* -------------- Lado Direito ---------------- */

.total {
    display: grid;
    grid-template-areas: 
    "titleU totalPersonU"
    "personU totalPersonU"
    "titleD totalPersonD"
    "personD totalPersonD"
    "reset reset";
    background-color: hsl(183, 100%, 15%);
    padding: 20px;
    border-radius: 20px;
    color: hsl(172, 67%, 45%);
}

.titleU {
    grid-area: titleU;
}

.titleD {
    grid-area: titleD;
}

.totalPersonU {
    grid-area: totalPersonU;
}

.totalPersonD {
    grid-area: totalPersonD;
}

.reset {
    grid-area: reset;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 4px;
    font-size: .7rem;
    max-width: 100%;
    padding: 5px 0;
    margin-top: 120px;
    cursor: pointer;
}

/* ------------------------------ */

.title {
    font-size: .7rem;
    color: hsl(189, 41%, 97%);
}

.person {
    font-size: .5rem;
    color: hsl(184, 14%, 56%);
}

.totalPerson {
    margin-left: 50px;
}